<app-header></app-header>

<div>
  <div class="container">
    <div class="card border-light mb-3 mt-3">

      <div class="card-body">
        <h1 class="card-title">Proyectos</h1>
        <div class="col-3">
          <input [(ngModel)]="listFilter" type="text" class="form-control" id="filterInput" placeholder="Buscar por nombre">
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" data-order="desc" data-name="id">ID</th>
            <th scope="col" data-order="desc" data-name="name">Nombre</th>
            <th scope="col" data-order="desc" data-name="description">Descripción</th>
            <th scope="col" data-order="desc" data-name="budget">Presupuesto</th>
            <th scope="col" class="col-tretch"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let project of filteredProjects; index as i">
            <th>{{ project.id }}</th>
            <th scope="row" routerLink="/project-detail/{{project.id}}">{{ project.name }}</th>
            <td>{{ project.description }}</td>
            <td>$ {{ project.budget }}</td>
            <td>
              <button type="button" class="btn btn-outline-secondary mr-2" (click)="delete(project)">x</button>
              <!--<button type="button" class="btn btn-outline-secondary mr-2" (click)="add(projectName.value); projectName.value=''">Add Project</button>&ndash;&gt;-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
