<!-- purple x moss 2020 -->

<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="mainbox">
  <div class="err0">4</div>
  <div class="err1">0</div>
  <div class="err2">4</div>
  <div class="msg">La pagina que esta buscando no existe<p>Vuelva a <a routerLink="/login">loguearse</a> e intente nuevamente</p></div>
</div>
