<!--<div class="login">
  <form class="custom-form" method="post">
    <h1>Iniciar sesión</h1>
    <input
      type="nickname"
      [(ngModel)]="nickname"
      name="nickname"
      placeholder="Nombre de usuario"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Contraseña"
      required="required"
    />
    <button type="submit" (click)="login()">Ingresar</button><br>
    <button routerLink="/register">Registrar nuevo usuario</button>
  </form>
</div>-->

<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Iniciar sesión</h2>
      <mat-error *ngIf="invalidData">
        No se pudo iniciar sesión
      </mat-error>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nombre de usuario" formControlName="nickname" required minlength="5">
        <mat-error>
          Se require un nombre de usuario valido
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Contraseña" formControlName="password" required minlength="8">
        <mat-error>
          Se requiere una contraseña valida
        </mat-error>
      </mat-form-field>

      <br><button mat-raised-button color="primary">Aceptar</button><br><br>
      <a routerLink="/register">Registrar nuevo usuario</a>

    </form>
  </mat-card-content>
</mat-card>
