<div class="login">
  <form class="custom-form" method="post">
    <h1>Iniciar sesión</h1>
    <input
      type="nickname"
      [(ngModel)]="nickname"
      name="nickname"
      placeholder="Nombre de usuario"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Contraseña"
      required="required"
    />
    <button routerLink="/register">¿Sos nuevo?</button>
    <button type="submit" (click)="login()">Ingresar</button>
  </form>
</div>
