img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

h1 {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  size: A3;
  //background-color:white;
  text-align:center;
  color: #d20823;
  border-style: double;
  background-color: #ffffff;
  font-family: "Berlin Sans FB Demi", sans-serif;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.div.mat-form-field {
  margin-left: 20px;
  margin-right: 20px;
}

.example-margin {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}
