<app-header></app-header>

<div class="container p-0">

  <div class="row">
    <div>
      THIS IS A PLACEHOLDER FOR THE WELCOME MESSAGE!!!
      <br><br><div>AN IMAGE AND A TEXT SHOULD GO HERE!!!</div>
    </div>
  </div>
  <!--<a href="#" class="btn btn-primary float-right mt-n1"><i class="fas fa-plus"></i> New project</a>
  <h1 class="h3 mb-3">Projects</h1>-->

  <div class="row">
    <div class="col-12 col-md-6 col-lg-3" *ngFor="let project of projects">
      <div class="card">
        <div class="card-header px-4 pt-4">
          <div class="card-actions float-right">
            <div class="dropdown show">
            </div>
          </div>
          <h5 class="card-title mb-0"><b>{{project.name}}</b></h5>
          <div class="badge bg-success my-2">{{project.category}}</div>
        </div>
        <div class="card-body px-4 pt-2">
          <p>{{project.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4 pb-4">
            <p class="mb-2 font-weight-bold">Progress <span class="float-right">100%</span></p>
            <div class="progress progress-sm">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-3" *ngFor="let task of tasks">
      <div class="card">
        <div class="card-header px-4 pt-4">
          <div class="card-actions float-right">
            <div class="dropdown show">
            </div>
          </div>
          <h5 class="card-title mb-0"><b>{{task.name}}</b></h5>
          <div class="badge bg-danger my-2">{{task.difficulty}}</div>&nbsp;
          <div class="badge bg-info my-2">${{task.reward}}</div>
        </div>
        <div class="card-body px-4 pt-2">
          <p>{{task.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
