<app-header></app-header>

<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 class="title" id="new-task-title">Crear nueva tarea para projecto {{projectId}}</h2><br>
      <h4 class="title" id="new-task-subtitle">Dinero disponible: ${{budget}}</h4>
      <mat-error *ngIf="invalidData">
        La informacion proporcionada no pudo registrarse
      </mat-error>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nombre de tarea" formControlName="name" required minlength="5">
        <mat-error>
          Se require un nombre de tarea valido
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput type="number" placeholder="Recompensa" formControlName="reward" required>
        <mat-error>
          El proyecto no tiene suficiente dinero
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <textarea matInput placeholder="Descripcion" formControlName="description" required minlength="20"></textarea>
        <mat-error>
          Se require una descripcion
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <mat-label>Dificultad</mat-label>
        <mat-select formControlName="difficulty" required>
          <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
            {{difficulty}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="footer">
        <button mat-raised-button class="btn btn-outline-success">Crear</button>&nbsp;
        <button type="button" class="btn btn-outline-dark" (click)="goBack()">Atras</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

