<app-header></app-header>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox-button">
          <div class="ibox-content-button-back">
            <button class="btn btn-secondary btn-xs" [disabled]="requestInProgress" (click)="goBack()">Atras</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox-button">
          <div class="ibox-content-button">
            <button [hidden]="!isOwner" [disabled]="requestInProgress" class="btn btn-info btn-xs pull-right">Editar
              tarea
            </button>&nbsp;
            <button [hidden]="!isOwner" [disabled]="requestInProgress" class="btn btn-xs btn-danger"
                    (click)="open(deleteTask)">Eliminar tarea
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox-button">
          <div class="ibox-content-button">
            <button [hidden]="!isOwner" [disabled]="requestInProgress" class="btn btn-xs btn-primary"
                    (click)="goUploadFile()">Cargar nuevo archivo
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-content">
            <div class="m-b-md">
              <h1>{{task.name}}</h1>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <dl class="dl-horizontal">
                  <dt>Estado:</dt>
                  <dd><span class="label label-primary">{{task.state}}</span></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>Dificultad:</dt>
                  <dd><span class="label label-primary">{{task.difficulty}}</span></dd>
                </dl>
              </div>
              <div class="col-lg-5">
                <dl class="dl-horizontal">
                  <dt>Trabajador:</dt>
                  <dd><span class="label label-primary">{{task.worker}}</span></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>ID de Proyecto:</dt>
                  <dd><span class="label label-primary">{{task.projectId}}</span></dd>
                  <!--<a [hidden]="!isAssignable" (click)="assignWorker()"class="btn btn-secondary btn-xs pull-right">Asignar</a>-->
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <dl class="dl-horizontal">
                  <dt>Administrador:</dt>
                  <dd>{{task.owner}}</dd>
                  <dt>Recompensa:</dt>
                  <dd> ${{task.reward}}</dd>
                </dl>
              </div>
              <div class="col-lg-7" id="cluster_info">
                <dl class="dl-horizontal">
                  <dt>Fecha de creación:</dt>
                  <dd>{{task.creationDate}}</dd>
                  <dt>Fecha de finalización:</dt>
                  <dd>{{task.finishDate}}</dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <!--<div class="col-lg-12">
                <dl class="dl-horizontal">
                  <dt>Progreso:</dt>
                  <dd>
                    <div class="progress progress-striped active m-b-sm">
                      <div style="width: 60%;" class="progress-bar"></div>
                    </div>
                    <small>Proyecto completado al <strong>60%</strong></small>
                  </dd>
                </dl>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="wrapper wrapper-content project-manager">
        <div class="ibox">
          <div class="ibox-content">
            <h2>Archivos</h2>
            <ul class="list-unstyled project-files">
              <li *ngFor="let file of task.files">
                <a>
                  <i class="fa fa-tag">{{file}}
                  </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-9">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-content">
            <div class="m-b-md">
              <h2>Descripcion</h2>
              <h3>{{task.description}}</h3>
            </div>
            <div class="m-b-md">
              <h2>Acciones</h2>
              <div class="dl-horizontal">
                <button [hidden]="!isAssignable" [disabled]="requestInProgress" (click)="assignWorker()"
                        matTooltip="Asignar la tarea para empezar a trabajar el ella"
                        class="btn btn-secondary btn-xs pull-right">Asignar
                </button>&nbsp;
                <button [hidden]="!isAlreadyAssigned" [disabled]="requestInProgress" (click)="unassignWorker()"
                        matTooltip="Liberar la tarea para que sea asignada a otra persona"
                        class="btn btn-secondary btn-xs pull-right">Desasignar
                </button>&nbsp;
                <button [hidden]="!canBeCompleted" [disabled]="requestInProgress" (click)="completeTask()"
                        matTooltip="Marcar la tarea como completa para esperar su aprobacion"
                        class="btn btn-secondary btn-xs pull-right">Completar
                </button>&nbsp;
                <button [hidden]="!canBeApproved" [disabled]="requestInProgress" (click)="approveTask()"
                        matTooltip="Dar por finalizada la tarea y asignar la recompensa al trabajador"
                        class="btn btn-secondary btn-xs pull-right">Aprobar
                </button>&nbsp;
                <button [hidden]="!canBeApproved" [disabled]="requestInProgress" (click)="unapproveTask()"
                        matTooltip="Marcar el trabajo hecho como no suficiente"
                        class="btn btn-secondary btn-xs pull-right">Desaprobar
                </button>&nbsp;
                <button [hidden]="!canBeCanceled" [disabled]="requestInProgress" (click)="cancelTask()"
                        matTooltip="Cancelar la tarea y devolver el dinero al proyecto"
                        class="btn btn-secondary btn-xs pull-right">Cancelar
                </button>&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="wrapper wrapper-content project-manager">
        <div class="ibox">
          <div class="ibox-content">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="margin-bottom: 30px;">
    <div class="col-md-12">
      <div class="wrapper wrapper-content animated fadeInUp" style="background-color: white">
        <!--<div class="ibox">
          <div class="ibox-content">-->
            <div class="chat-room">
              <div class="grey lighten-3">

                <!-- Grid row -->
                <div class="row px-lg-2 px-2">

                  <!-- Grid column -->
                  <!-- <div class="col-md-6 col-xl-4 px-0">

                     <h6 class="font-weight-bold mb-3 text-center text-lg-left">Member</h6>
                     <div class="white z-depth-1 px-3 pt-3 pb-0">
                       <ul class="list-unstyled friend-list">
                         <li class="active grey lighten-3 p-2">
                           <a href="#" class="d-flex justify-content-between">
                             <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                             <div class="text-small">
                               <strong>John Doe</strong>
                               <p class="last-message text-muted">Hello, Are you there?</p>
                             </div>
                             <div class="chat-footer">
                               <p class="text-smaller text-muted mb-0">Just now</p>
                               <mdb-badge danger="true" class="float-right"></mdb-badge>
                             </div>
                           </a>
                         </li>
                         <li class="p-2">
                           <a href="#" class="d-flex justify-content-between">
                             <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                             <div class="text-small">
                               <strong>Danny Smith</strong>
                               <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                             </div>
                             <div class="chat-footer">
                               <p class="text-smaller text-muted mb-0">5 min ago</p>
                               <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
                             </div>
                           </a>
                         </li>
                         <li class="p-2">
                           <a href="#" class="d-flex justify-content-between">
                             <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                             <div class="text-small">
                               <strong>Alex Steward</strong>
                               <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                             </div>
                             <div class="chat-footer">
                               <p class="text-smaller text-muted mb-0">Yesterday</p>
                               <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
                             </div>
                           </a>
                         </li>
                         <li class="p-2">
                           <a href="#" class="d-flex justify-content-between">
                             <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                             <div class="text-small">
                               <strong>Ashley Olsen</strong>
                               <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                             </div>
                             <div class="chat-footer">
                               <p class="text-smaller text-muted mb-0">Yesterday</p>
                               <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
                             </div>
                           </a>
                         </li>
                         <li class="p-2">
                           <a href="#" class="d-flex justify-content-between">
                             <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                             <div class="text-small">
                               <strong>Kate Moss</strong>
                               <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                             </div>
                             <div class="chat-footer">
                               <p class="text-smaller text-muted mb-0">Yesterday</p>
                               <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
                             </div>
                           </a>
                         </li>
                         <li class="p-2">
                           <a href="#" class="d-flex justify-content-between">
                             <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                             <div class="text-small">
                               <strong>Lara Croft</strong>
                               <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                             </div>
                             <div class="chat-footer">
                               <p class="text-smaller text-muted mb-0">Yesterday</p>
                               <span class="text-muted float-right"><mdb-icon fas icon="reply" aria-hidden="true"></mdb-icon></span>
                             </div>
                           </a>
                         </li>
                         <li class="p-2">
                           <a href="#" class="d-flex justify-content-between">
                             <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                             <div class="text-small">
                               <strong>Brad Pitt</strong>
                               <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                             </div>
                             <div class="chat-footer">
                               <p class="text-smaller text-muted mb-0">5 min ago</p>
                               <span class="text-muted float-right"><mdb-icon fas icon="check" aria-hidden="true"></mdb-icon></span>
                             </div>
                           </a>
                         </li>
                       </ul>
                     </div>

                   </div>-->
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-12 col-xl-12 pl-md-12 px-lg-auto px-0">

                    <div class="chat-message">

                      <ul #scrollframe class="frame list-unstyled chat" style="height: 400px; overflow-y: auto">
                        <li *ngFor="let message of messages" #item class="item d-flex mb-4" style="padding-top: 15px; padding-left: 15px">
                          <img src="./assets/images/user.png" alt="avatar" width="80px"
                               class="avatar rounded-circle d-flex align-self-start mr-2 z-depth-1">
                          <div class="chat-body white p-3 ml-2 z-depth-1">
                            <div class="header">
                              <strong class="primary-font">{{message.sender}}</strong>&nbsp;
                              <small class="pull-right text-muted">
                                <!--<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>-->
                                {{message.date.toLocaleString()}}</small>
                            </div>
                            <hr class="w-100">
                            <p class="mb-0">{{message.text}}</p>
                          </div>
                        </li>
                        <!--<li class="d-flex justify-content-between mb-4">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar"
                               class="avatar rounded-circle d-flex align-self-start mr-2 z-depth-1">
                          <div class="chat-body white p-3 ml-2 z-depth-1">
                            <div class="header">
                              <strong class="primary-font">Juan Perez</strong>
                              <small class="pull-right text-muted">
                                <mdb-icon far icon="clock"></mdb-icon>
                                12 mins ago</small>
                            </div>
                            <hr class="w-100">
                            <p class="mb-0">
                              Hola Maria, tengo algunas dudas sobre esta tarea. ¿Cual es el
                              requerimiento de aprobacion?
                            </p>
                          </div>
                        </li>
                        <li class="d-flex justify-content-between mb-4">
                          <div class="chat-body white p-3 z-depth-1">
                            <div class="header">
                              <strong class="primary-font">Maria Ana</strong>
                              <small class="pull-right text-muted">
                                <mdb-icon far icon="clock"></mdb-icon>
                                13 mins ago</small>
                            </div>
                            <hr class="w-100">
                            <p class="mb-0">
                              Hola Juan. El requerimiento es subir la evidencia en formato de fotografia
                              que muestre el trabajo terminado.
                            </p>
                          </div>
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="avatar"
                               class="avatar rounded-circle d-flex align-self-start ml-2 z-depth-1">
                        </li>
                        <li class="d-flex justify-content-between mb-4 pb-3">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar"
                               class="avatar rounded-circle d-flex align-self-start mr-2 z-depth-1">
                          <div class="chat-body white p-3 ml-2 z-depth-1">
                            <div class="header">
                              <strong class="primary-font">Juan Perez</strong>
                              <small class="pull-right text-muted">
                                <mdb-icon far icon="clock"></mdb-icon>
                                12 mins ago</small>
                            </div>
                            <hr class="w-100">
                            <p class="mb-0">
                              Genial, muchas gracias!!!
                            </p>
                          </div>
                        </li>-->
                      </ul>
                      <div class="white" style="padding-top: 15px; padding-left: 15px; margin-bottom: 20px">
                        <div class="form-group basic-textarea">
                            <textarea class="form-control pl-2 my-0" id="message" rows="3"
                                      placeholder="Escribe tu mensaje aqui..." [(ngModel)]="messageText">
                            </textarea>
                        </div>
                        <button [disabled]="requestInProgress"
                                class="btn btn-xs btn-primary"
                                (click)="addMessage()">Enviar</button>
                      </div>

                    </div>

                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

              </div>
            </div>
          </div>
        <!--</div>
      </div>-->
    </div>
  </div>

  <mat-progress-spinner
    [hidden]="!requestInProgress"
    class="example-margin"
    mode="indeterminate">
  </mat-progress-spinner>

</div>

<ng-template #deleteTask let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">¿Esta seguro de que desea eliminar esta tarea?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cerrar')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)=delete(task.id)>Eliminar tarea</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancelar')">Cancelar</button>
  </div>
</ng-template>
