<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Registrarse</h2>
      <mat-error *ngIf="invalidData">
        La informacion proporcionada no pudo registrarse
      </mat-error>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nombre de usuario" formControlName="nickname" required adminValidator minlength="5">
        <mat-error>
          Se require un nombre de usuario de al menos 5 caracteres
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nombre" formControlName="firstname" required>
        <mat-error>
          Se require un nombre valido
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Apellido" formControlName="lastname" required>
        <mat-error>
          Se require un apellido valido
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Contraseña" formControlName="password" required minlength="8">
        <mat-error>
          Se requiere una contraseña valida de al menos 8 caracteres
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="full-width-input">
        <input matInput type="email" placeholder="Email" formControlName="email" required email>
        <mat-error>
          Se requiere una direccion de email valida (nombre@mail)
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="full-width-input">
        <input placeholder="Fecha de Nacimiento" formControlName="birthday" required adultValidator matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          Se require una fecha valida (debe ser mayor de edad para registrarse)
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="full-width-input">
        <mat-label>Provincia</mat-label>
        <mat-select formControlName="province" required>
          <mat-option *ngFor="let province of provinces" [value]="province">
            {{province}}
          </mat-option>
        </mat-select>
        <mat-error>
          Seleccione una provincia
        </mat-error>
      </mat-form-field>
      <br>

      <br><button mat-raised-button color="primary">Registrar</button><br><br>
      <a routerLink="/login">Atras</a>

    </form>
  </mat-card-content>
</mat-card>
